#formulaire {
    border: 1px solid #DBDBDB;
    box-shadow: 0 0 2px 2px #DBDBDB;
    width: 30%;
    margin: 50px auto;
    border-radius: 5px;
}

form {
    text-align: center;
    padding: 10px
}

.champ {
    width: 60%;
    margin-bottom: 10px;
    padding: 6px 30px;
}

#valid {
    background-color: blue;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    margin: 8px 0;
}